@font-face {
  font-family: 'Gabriola';
  src: url('Gabriola.eot');
  src: url('Gabriola.woff2') format('woff2'),
       url('Gabriola.woff') format('woff'),
       url('Gabriola.ttf') format('truetype'),
       url('Gabriola.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

