.container-fluid.bread
	nav.breadcrumbs
		ul.breadcrumbs-list(itemscope itemtype="http://schema.org/BreadcrumbList")
			li.item(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
				a.link(href="" itemprop="item")
					span(itemprop="name")
						|Главная
					meta(itemprop="position" content="1")
			li.item(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
				a.link(href="" itemprop="item")
					span(itemprop="name")
						|Политика конфиденциальности
					meta(itemprop="position" content="1")
			li.item(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
				a.link(href="" itemprop="item")
					span(itemprop="name")
						|Использование файлов cookie
					meta(itemprop="position" content="1")