.row
	.container-fluid(data-plugin="navsite" data-button="button" data-nav="nav" data-panel=".sitebar-panel")
		.sitebar-panel
			button.sitebar-panel-button(data-text="Mеню")
				span
				span
				span
		nav.sitebar-nav
			ul.sitebar-nav-list(itemscope itemtype="http://schema.org/SiteNavigationElement")
				include menutemp