.photogalleris {
	&-item {
		.col-xs-6 {
			
		}
		
		&-link {
			order: 1;
			min-height: 320px;
			overflow: hidden;
			&-img {
				height: 100%;
				background-position: 50% 50%;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
		&-description {
			order: 2;
			justify-content: flex-start;
			display: flex;
			flex-direction: column;
			&-title {
				margin-top: 19px;
			}
			&-wrapper {
				flex: 1;
			}
			.btnkoms {
				margin-left: unset;
				margin-bottom: 15px;
				align-self: flex-end;
			}
		}
		&:nth-child(even) {
			.photogalleris-item {
				&-link {
					order: 2;
				}
				&-description {
					order: 1;
					.btnkoms {
						align-self: flex-start;
					}
				}
			}
		}
	}
	.pagination {
		padding-top: 40px;
	}
}