doctype html
html(prefix="og: http://ogp.me/ns#" lang="ru")
	include variables
	include inc/head
	body.load(ondragstart="return !1;")
		include inc/preloader
		.page.clearfix
			include inc/header
			include inc/navsite
			include inc/carousel
			include inc/home/mainwrapper
			include inc/homemap
			include inc/footer
		include after_body