doctype html
html(prefix="og: http://ogp.me/ns#" lang="ru")
	include variables
	- var pageTitle = "Новости";
	include inc/head
	body.load(ondragstart="return !1;")
		include inc/preloader
		.page.clearfix
			include inc/header
			include inc/navsite
			include inc/news/mainwrapper
			include inc/footer
		include after_body