- var ofsite = "Официальный сайт";
- var aftertitle = "сельского поселения Комсомольский Кинельского района Самарской области";
- var headertitle = "Администрация " + aftertitle;
- var title = ofsite + " администрации " + aftertitle;
- var imgdir = "assets/templates/komsomolskiy/images";
- var debug = false
- var host = "https://komsomolskiy.github.io/"
if(debug)
	- var host = "http://komsadmin.my/"