h1.page-title
	|Уведомление об использовании файлов куки (cookie) и похожих технологий
p
	|На сайте используются файлы куки (cookie) для организации работы сайта и роста эффективности нашего общения с пользователями. Кроме того эта технология помогает нам получать аналитическую информацию. Использование нашего сайта означает Ваше согласие на прием и передачу файлов cookie в соответствии с этим уведомлением. В случае Вашего несогласия с использованием cookie, просим Вас произвести соответствующие настройки в браузере либо же воздержаться от использования сайта.
h2
	|Информация о "cookie"
p
	|Он сохраняется на устройстве, которое используется для работы в сети «Интернет». На нашем сайте используются различные типы файлов cookie:
ul
	li
		|Строго необходимые файлы cookie. Эти файлы cookie нужны, чтобы сайт работал правильно, они делают возможной навигацию по ресурсу. Файлы этого типа не идентифицируют вас как личность. Если вы не согласны использовать этот тип файлов, это может оказать влияние на производительность веб-сайта, или его компонентов.
	li
		|Файлы cookie, относящиеся к производительности, эффективности и аналитике. Эти файлы помогают понять, как посетители взаимодействуют с сайтом, предоставляя информацию о тех областях, которые они посетили и количестве времени, которое они провели на сайте, также они показывают проблемы в работе интернет-ресурса, например, сообщения об ошибках. Это помогает улучшать работу сайта. Файлы cookie, относящиеся к аналитике, также помогают измерять эффективность рекламных кампаний и оптимизировать содержание сайтов для тех, кого заинтересовала наша реклама. Данный тип файлов cookies не может быть использован для вашей идентификации. Вся информация, которая собирается и анализируется, анонимна.
	li
		|Функциональные файлы cookie. Эти файлы cookie служат для того, чтобы опознавать пользователей, возвращающихся на наш сайт. Они позволяют индивидуально подбирать содержание сайта для вас и запоминать ваши предпочтения. Если вы блокируете этот тип файлов, то это может повлиять на производительность и функциональность веб-сайта и может ограничить доступ к контенту на сайте.
h3
	|Как долго файлы cookie хранятся на устройстве?
p
	|Некоторые файлы cookie действуют с момента вашего входа на сайт до конца данной конкретной сессии работы в браузере. При закрытии браузера эти файлы становятся ненужными и автоматически удаляются. Такие файлы cookie называются «сеансовыми».
p
	|Некоторые файлы cookie сохраняются на устройстве и в промежутке между сессиями работы в браузере — они не удаляются после закрытия браузера. Такие файлы cookie называются «постоянными». Срок хранения постоянных файлов cookie на устройстве различается для разных файлов cookie.
h3
	|Кто размещает файлы cookie на моем устройстве?
p
	|Файлы cookie могут размещаться на Вашем устройстве администрацией сайта. Эти файлы cookie называются «собственными». Некоторые файлы cookie могут размещаться на Вашем устройстве другими операторами. Такие файлы cookie называются файлами «третьих лиц».
h3
	|Как управлять файлами cookie?
p
	|Большинство интернет-браузеров изначально настроены автоматически принимать cookie. Вы можете изменить настройки таким образом, чтобы блокировать cookie или предупреждать пользователя, когда файлы данного типа будут отправлены на устройство. Есть несколько способов управления cookie. Обратитесь к инструкции вашего браузера для того, чтобы узнать больше о том, как скорректировать или изменить настройки браузера. Если отключить cookie, то это может повлиять на вашу работу в Интернете.
h3
	|Файлы cookie и персональные данные
p
	|Файлы cookie не содержат Ваших персональных данных, благодаря которым возможна идентификация вашей личности. Файлы cookie не содержат фамилии, имени, отчества, адресов электронной почты, домашнего адреса, номеров телефонов и прочих подобных данных.